@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --border: rgb(221, 221, 221);
  --black: rgb(30, 30, 30);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.myProfileContainer {
  display: flex;
}