.rocketContainer {
  display: flex;
  gap: 20px;
}

.rocketPicture {
  width: 200px;
}

.rocketPicture > img {
  width: 200px;
}

.rocketContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rocketContent > h2 {
  font-size: 20px;
}

.rocketContent > p {
  font-size: 14px;
}

.rocketContent > button {
  align-self: flex-start;
  border: none;
  background-color: #3f6ad8;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.rocketContent > button.cancel {
  background-color: white;
  border: 1px solid gray;
  color: gray;
}

.reservedLabel {
  background-color: rgb(45, 191, 196);
  color: white;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 10px;
  margin-right: 7px;
}
